<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var $block \Magento\Theme\Block\Html\Title
 */
$myBlock = \Magento\Framework\App\ObjectManager::getInstance()->get('Bigboppa\HiddenProducts\Block\HiddenProducts');
 
// print current product data
if ($currentProduct = $myBlock->getCurrentProduct()) {
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$customerSession = $objectManager->get('Magento\Customer\Model\Session');
	$showSleeves = false;

	if($customerSession->isLoggedIn()){
		if ($customerSession->getCustomerGroupId() != 1){
			$showSleeves = true;
		}
	}
	if ($showSleeves){
		$cssClass = $block->getCssClass() ? ' ' . $block->getCssClass() : '';
		$title = '';
		if (trim($block->getPageHeading())) {
			$title = '<span class="base" data-ui-id="page-title-wrapper" ' .  $block->getAddBaseAttribute() . '>' . $block->escapeHtml($block->getPageHeading()) . '</span>';
		}
		if ($title): ?>
		<div class="page-title-wrapper<?= /* @escapeNotVerified */ $cssClass ?>">
			<h1 class="page-title"
				<?php if ($block->getId()): ?> id="<?= /* @escapeNotVerified */ $block->getId() ?>" <?php endif; ?>
				<?php if ($block->getAddBaseAttributeAria()): ?>
					aria-labelledby="<?= /* @escapeNotVerified */ $block->getAddBaseAttributeAria() ?>"
				<?php endif; ?>>
				<?= /* @escapeNotVerified */ $title ?>
			</h1>
			<?= $block->getChildHtml() ?>
		</div>
		<?php endif; 
	}	
} else { 
	$cssClass = $block->getCssClass() ? ' ' . $block->getCssClass() : '';
	$title = '';
	if (trim($block->getPageHeading())) {
		$title = '<span class="base" data-ui-id="page-title-wrapper" ' .  $block->getAddBaseAttribute() . '>' . $block->escapeHtml($block->getPageHeading()) . '</span>';
	}
	if ($title): ?>
	<div class="page-title-wrapper<?= /* @escapeNotVerified */ $cssClass ?>">
		<h1 class="page-title"
			<?php if ($block->getId()): ?> id="<?= /* @escapeNotVerified */ $block->getId() ?>" <?php endif; ?>
			<?php if ($block->getAddBaseAttributeAria()): ?>
				aria-labelledby="<?= /* @escapeNotVerified */ $block->getAddBaseAttributeAria() ?>"
			<?php endif; ?>>
			<?= /* @escapeNotVerified */ $title ?>
		</h1>
		<?= $block->getChildHtml() ?>
	</div>
	<?php endif; 
}