<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$showSleeves = false;

if($customerSession->isLoggedIn()){
	if ($customerSession->getCustomerGroupId() != 1){
		$showSleeves = true;
	}
}
if ($showSleeves){ ?>
	<?php /** @var \Magento\Framework\Pricing\Render\Amount $block */ ?>

	<span class="price-container <?= /* @escapeNotVerified */ $block->getAdjustmentCssClasses() ?>"
			<?= $block->getSchema() ? ' itemprop="offers" itemscope itemtype="http://schema.org/Offer"' : '' ?>>
		<?php if ($block->getDisplayLabel()): ?>
			<span class="price-label"><?= /* @escapeNotVerified */ $block->getDisplayLabel() ?></span>
		<?php endif; ?>
		<span <?php if ($block->getPriceId()): ?> id="<?= /* @escapeNotVerified */ $block->getPriceId() ?>"<?php endif;?>
			<?= ($block->getPriceDisplayLabel()) ? 'data-label="' . $block->getPriceDisplayLabel() . $block->getPriceDisplayInclExclTaxes() . '"' : '' ?>
			data-price-amount="<?= /* @escapeNotVerified */ $block->getDisplayValue() ?>"
			data-price-type="<?= /* @escapeNotVerified */ $block->getPriceType() ?>"
			class="price-wrapper <?= /* @escapeNotVerified */ $block->getPriceWrapperCss() ?>"
		><?= /* @escapeNotVerified */ $block->formatCurrency($block->getDisplayValue(), (bool)$block->getIncludeContainer()) ?></span>
		<?php if ($block->hasAdjustmentsHtml()): ?>
			<?= $block->getAdjustmentsHtml() ?>
		<?php endif; ?>
		<?php if ($block->getSchema()): ?>
			<meta itemprop="price" content="<?= /* @escapeNotVerified */ $block->getDisplayValue() ?>" />
			<meta itemprop="priceCurrency" content="<?= /* @escapeNotVerified */ $block->getDisplayCurrencyCode() ?>" />
		<?php endif; ?>
	</span>
<?php }