.page-header {
	background: url('../images/header-bg.jpg') no-repeat top center;
}
.page-header .panel.wrapper, .copyright {
	background-color: #003399!important;
}
.page-footer {
	background: #cc0000 url('../images/footer-bg.png') repeat-x top right!important;
}
.footer.content .links > li {
	background: none!important;
	border-top: none!important;
}
.footer.content {
	color: #ffffff!important;
}
.footer.content .links a:visited, .footer.content .links a, .header.panel > .header.links > li > a:visited {
	color: #ffcc00!important;
}
.newsletter div.mage-error[generated] {
    color: #ffffff!important;
}
.action.primary {
    background: #003399!important;
    border: 1px solid #003399!important;
}
.page-main > .page-title-wrapper .page-title {
    color: #cc0000!important;
}
.page-products .sorter, .modes {
	display: none;
}
.page-with-filter .toolbar-amount {
    font-size: 18px;
    color: #c00;
}
.toolbar-products .pages {
	display: block!important;
}
.nav-sections {
    background: #cc0000;
}
.navigation {
    background: #cc0000;
}
.navigation .level0 > .level-top {
    color: #ffffff;
}
.navigation .level0.active > .level-top, .navigation .level0.has-active > .level-top {
	color: #ffcc00;
	border-color: #ffcc00;
}
.navigation .level0 > .level-top:hover, .navigation .level0 > .level-top.ui-state-focus {
    color: #ffcc00;
}
.header.content .widget {
	clear: right;
	float: right;
}
.header-links li {
	display: inline-block;
	margin-left: 20px;
}
.header-links li a {
	font-size: 18px;
	font-weight: bold;
	color: #cc0000;
	text-shadow: 2px 2px #fff;
}
.header-links li a:hover {
	color: #003399;
	text-decoration: none;
}
@media only screen and (min-width: 768px)  {
	.logo {
		margin: -15px auto 15px 0;
	}
	ul.footer.links {
		margin-bottom: 20px;
	}
	.footer.content .links a, .footer.content .links strong {
		padding: 2px 0;
	}
}
@media only screen and (max-width: 480px)  {
	
	.table-headings {
		display: none!important;
	}
	.record-table tr {
		border: none!important;
		border-bottom: 3px solid #ccc;
		margin-bottom: 30px;
	}

	/* Force table to not be like tables anymore */
	table.record-table, .record-table thead, .record-table tbody, .record-table th, .record-table td, .record-table tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.record-table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.record-table tr { border: 1px solid #ccc; }
	
	.record-table td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	.record-table td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	.record-table td:nth-of-type(1):before { content: "Artist"; }
	.record-table td:nth-of-type(2):before { content: "Title"; }
	.record-table td:nth-of-type(3):before { content: "Record Details"; }
	.record-table td:nth-of-type(4):before { content: "Price"; }
	.record-table td:nth-of-type(5):before { content: "Add"; }
}