<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$showSleeves = false;

if($customerSession->isLoggedIn()){
	if ($customerSession->getCustomerGroupId() != 1){
		$showSleeves = true;
	}
}
if ($showSleeves){ ?>
<?php $_product = $block->getProduct() ?>
<?php if ($block->canEmailToFriend()): ?>
    <a href="<?= /* @escapeNotVerified */ $this->helper('Magento\Catalog\Helper\Product')->getEmailToFriendUrl($_product) ?>"
       class="action mailto friend"><span><?= /* @escapeNotVerified */ __('Email') ?></span></a>
<?php endif; ?>
<?php }