<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>

<?php
	$_productCollection = $block->getLoadedProductCollection();
	$_helper = $this->helper('Magento\Catalog\Helper\Output');
	?>
	<?php if (!$_productCollection->count()): ?>
		<div class="message info empty"><div><?= /* @escapeNotVerified */ __('We can\'t find products matching the selection.') ?></div></div>
	<?php else: ?>
		<?= $block->getToolbarHtml() ?>
		<?= $block->getAdditionalHtml() ?>
		
			<table class="table table-responsive record-table">
			  <tr class="table-headings">
				<th>Artist</th>
				<th>Title</th> 
				<th>Record Details</th>
				<th>Price</th>
				<th></th>
			  </tr>
			  <?php $iterator = 1; ?>
			  <?php foreach ($_productCollection as $_product): ?>
			  <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
				<tr>
					<td><?php /* @escapeNotVerified */ echo $_product->getResource()->getAttribute('artist')->getFrontend()->getValue($_product); ?></td>
					<td><?php /* @escapeNotVerified */ echo $_product->getResource()->getAttribute('a_side')->getFrontend()->getValue($_product); ?></td>
					<td><p>
					<?php if ($_product->getResource()->getAttribute('b_side')->getFrontend()->getValue($_product) != ""){ ?>
						<b>B Side:</b> <?php /* @escapeNotVerified */ echo $_product->getResource()->getAttribute('b_side')->getFrontend()->getValue($_product); ?><br />
					<?php } ?>
					<b>Label:</b> <?php /* @escapeNotVerified */ echo $_product->getResource()->getAttribute('record_label')->getFrontend()->getValue($_product); ?><br />
					<b>Label Number:</b> <?php /* @escapeNotVerified */ echo $_product->getResource()->getAttribute('label_number')->getFrontend()->getValue($_product); ?><br />
					<b>Grading:</b> <?php /* @escapeNotVerified */ echo $_product->getResource()->getAttribute('grading')->getFrontend()->getValue($_product); ?>
					<?php if ($_product->getResource()->getAttribute('grade_comments')->getFrontend()->getValue($_product) != ""){ ?>
						<br /><b>Grade Comments:</b> <?php /* @escapeNotVerified */ echo $_product->getResource()->getAttribute('grade_comments')->getFrontend()->getValue($_product); ?><br />
					<?php } ?>
					</p></td>
					<td><b><?= /* @escapeNotVerified */ $block->getProductPrice($_product) ?></b></td>
					<td>
						<?php if ($_product->isSaleable()): ?>
							<?php $postParams = $block->getAddToCartPostParams($_product); ?>
							<form data-role="tocart-form" data-product-sku="<?= $block->escapeHtml($_product->getSku()) ?>" action="<?= /* @NoEscape */ $postParams['action'] ?>" method="post">
								<input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $postParams['data']['product'] ?>">
								<input type="hidden" name="<?= /* @escapeNotVerified */ Action::PARAM_NAME_URL_ENCODED ?>" value="<?= /* @escapeNotVerified */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
								<?= $block->getBlockHtml('formkey') ?>
								<button type="submit"
										title="<?= $block->escapeHtml(__('Add to Cart')) ?>"
										class="action tocart primary">
									<span><?= /* @escapeNotVerified */ __('Add to Cart') ?></span>
								</button>
							</form>
						<?php else: ?>
							<?php if ($_product->isAvailable()): ?>
								<div class="stock available"><span><?= /* @escapeNotVerified */ __('In stock') ?></span></div>
							<?php else: ?>
								<div class="stock unavailable"><span><?= /* @escapeNotVerified */ __('Out of stock') ?></span></div>
							<?php endif; ?>
						<?php endif; ?>
					</td>
				</tr>			  
			  <?php endforeach; ?>
			</table>
		<hr />
		<?= $block->getToolbarHtml() ?>
		<?php if (!$block->isRedirectToCartEnabled()) : ?>
			<script type="text/x-magento-init">
			{
				"[data-role=tocart-form], .form.map.checkout": {
					"catalogAddToCart": {
						"product_sku": "<?= /* @NoEscape */ $_product->getSku() ?>"
					}
				}
			}
			</script>
		<?php endif; ?>
	<?php endif; 