<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\CatalogWidget\Block\Product\ProductsList $block */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())): ?>
<?php
    $type = 'widget-product-grid';

    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    $_items = $block->getProductCollection()->getItems();
	
	shuffle($_items);
	$_items = array_slice($_items, 0, 5, true);

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
    $description = false;
?>
    <div class="block widget block-products-list <?= /* @noEscape */ $mode ?>">
        <?php if ($block->getTitle()): ?>
        <div class="block-title">
            <strong><?= $block->escapeHtml(__($block->getTitle())) ?></strong>
        </div>
        <?php endif ?>
        <div class="block-content">
            <?= /* @noEscape */ '<!-- ' . $image . '-->' ?>
            <div class="products-<?= /* @noEscape */ $mode ?> <?= /* @noEscape */ $mode ?>">
                <table class="table table-responsive record-table">
			  <tr class="table-headings">
				<th>Artist</th>
				<th>Title</th> 
				<th>Record Details</th>
				<th>Price</th>
				<th></th>
			  </tr>
			  
			  <?php foreach ($_items as $_item): ?>
			  <?php /** @var $_item \Magento\Catalog\Model\Product */ ?>
				<tr>
					<td><?php /* @escapeNotVerified */ echo $_item->getResource()->getAttribute('artist')->getFrontend()->getValue($_item); ?></td>
					<td><?php /* @escapeNotVerified */ echo $_item->getResource()->getAttribute('a_side')->getFrontend()->getValue($_item); ?></td>
					<td><p>
					<?php if ($_item->getResource()->getAttribute('b_side')->getFrontend()->getValue($_item) != ""){ ?>
						<b>B Side:</b> <?php /* @escapeNotVerified */ echo $_item->getResource()->getAttribute('b_side')->getFrontend()->getValue($_item); ?><br />
					<?php } ?>
					<b>Label:</b> <?php /* @escapeNotVerified */ echo $_item->getResource()->getAttribute('record_label')->getFrontend()->getValue($_item); ?><br />
					<b>Label Number:</b> <?php /* @escapeNotVerified */ echo $_item->getResource()->getAttribute('label_number')->getFrontend()->getValue($_item); ?><br />
					<b>Grading:</b> <?php /* @escapeNotVerified */ echo $_item->getResource()->getAttribute('grading')->getFrontend()->getValue($_item); ?>
					<?php if ($_item->getResource()->getAttribute('grade_comments')->getFrontend()->getValue($_item) != ""){ ?>
						<br /><b>Grade Comments:</b> <?php /* @escapeNotVerified */ echo $_item->getResource()->getAttribute('grade_comments')->getFrontend()->getValue($_item); ?><br />
					<?php } ?>
					</p></td>
					<td><b><?= /* @escapeNotVerified */ $block->getProductPrice($_item) ?></b></td>
					<td>
						<?php if ($showWishlist || $showCompare || $showCart): ?>
                                    <div class="product-item-actions">
                                        <?php if ($showCart): ?>
                                            <div class="actions-primary">
                                                <?php if ($_item->isSaleable()): ?>
                                                    <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
                                                        <button class="action tocart primary" data-mage-init='{"redirectUrl":{"url":"<?= $block->escapeUrl($block->getAddToCartUrl($_item)) ?>"}}' type="button" title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>">
                                                            <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                        </button>
                                                    <?php else: ?>
                                                        <?php
                                                            $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                            $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
                                                        ?>
                                                        <button class="action tocart primary" data-post='<?= /* @noEscape */ $postData ?>' type="button" title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>">
                                                            <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                        </button>
                                                    <?php endif; ?>
                                                <?php else: ?>
                                                    <?php if ($_item->getIsSalable()): ?>
                                                        <div class="stock available"><span><?= $block->escapeHtml(__('In stock')) ?></span></div>
                                                    <?php else: ?>
                                                        <div class="stock unavailable"><span><?= $block->escapeHtml(__('Out of stock')) ?></span></div>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                        <?php if ($showWishlist || $showCompare): ?>
                                            <div class="actions-secondary" data-role="add-to-links">
                                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                                    <a href="#"
                                                       data-post='<?= /* @noEscape */ $block->getAddToWishlistParams($_item) ?>' class="action towishlist" data-action="add-to-wishlist" title="<?= $block->escapeHtmlAttr(__('Add to Wish List')) ?>">
                                                        <span><?= $block->escapeHtml(__('Add to Wish List')) ?></span>
                                                    </a>
                                                <?php endif; ?>
                                                <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                                    <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
                                                    <a href="#" class="action tocompare" data-post='<?= /* @noEscape */ $compareHelper->getPostDataParams($_item) ?>' title="<?= $block->escapeHtmlAttr(__('Add to Compare')) ?>">
                                                        <span><?= $block->escapeHtml(__('Add to Compare')) ?></span>
                                                    </a>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                    </div>
                                <?php endif; ?>
					</td>
				</tr>			  
			  <?php endforeach; ?>
			</table>
            </div>
            <?= $block->getPagerHtml() ?>
        </div>
    </div>
<?php endif;?>